.dark{
    header {
        background-color: $grey;

        a {
            color: white;
        }

        .burger {
            color: white;
        }

        button {
            background-color: $grey;

            &:hover, &:focus {
                background-color: $red;
                color: $grey;
            }
        }
    }

    main {
        background-color: $black;

        li, a {
            color: white;
        }

        .decades {
            background-color: rgba(255, 255, 255, 0.95);

            li, a{
                color: $black;
            }
            
            li:hover, a:hover,
            li:focus, a:focus {
                color: $red;
            }
        }

        .content {
            background-color: $grey;
            color: white;
        }

    /* Add arrows to the left container (pointing right) */
        .left::before {
            border: medium solid $grey;
            border-width: 10px 0 10px 10px;
            border-color: transparent transparent transparent $grey
        }

        /* Add arrows to the right container (pointing left) */
        .right::before {
            border: medium solid $grey;
            border-width: 10px 10px 10px 0;
            border-color: transparent $grey transparent transparent;
        }
    }

    .timeline::after {
        background-color: white;
    }

    @media(max-width: 750px) {
        .container::before {
            left: 60px;
            border: medium solid $grey !important;
            border-width: 10px 10px 10px 0 !important;
            border-color: transparent $grey transparent transparent !important;
        }
    }
}

