//Variables
$red: #e2231a;
$grey: #232523;
$lightGrey: #F0F0F0;

$font: 'Work Sans', sans-serif;

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    // overflow-x:hidden; 
}

body {
    font-family: $font;
    font-size: 1.6rem;
    background-color: $lightGrey;
    // overflow-x:hidden; 
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    height: auto;
    display: block;
}

.wrapper {
    max-width: 1280px;
    width: 80%;
    margin: 0 auto;
}

//mixins
@mixin stroke-width($property) {
	-webkit-text-stroke-width: $property;
	-moz-text-stroke-width: $property;
}

@mixin stroke-color($property) {
	-webkit-text-stroke-color: $property;
	-moz-text-stroke-color: $property;
}